h1{
  text-align: center;
}
#map{
  width: 900px;
  height: 500px;
}

button{
  background-color: orange;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 18px;
  margin: 40px auto;
  margin-left: 400px;
}

#lugaresInteres{
  margin-top: 40px;
  margin-left: 110px;
}

#lugaresInteres img{
  font-size: 18px;
  color: orange;
  margin: 0 15px;
}

#boton{
  width: 100%;
}

@keyframes jump{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
